body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    color: whitesmoke;
    padding: 1%,5%,1%,5%;
    margin:0;
    background-image: url("images/connect.png");
    background-repeat: repeat;
}

header{
    text-align: center;
}

h1 {
    font-weight: bold;
    background-color:blue;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-radius: 500px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-weight: bold;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    border-radius: 500px;
    text-align: center;
    padding: 20px;
}

h3 {
    font-weight: bold;
    text-align: center;
}

#dstStart {
    border-radius: 20px;
    color: white;
    background-color: #62bb46;
    margin-top: 20px;
    padding:10px;
}

#dstEnd {
    border-radius: 20px;
    color: white;
    background-color: red;
    margin-top: 20px;
    padding:10px;
}

p {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
